{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr"  xmlns:xlink="http://www.w3.org/1999/xlink">
     <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Family tree{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Généalogie">
        <meta name="author" content="Ophel'">
        
         <!-- Le styles -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Kreon:400,700' rel='stylesheet' type='text/css'>

            {% stylesheets '@OphFamilytreeBundle/Resources/public/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
            {% stylesheets '@OphUserBundle/Resources/public/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>


    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand {% if app.request.get('_route') == 'oph_familytree_homepage' %} active {% endif %}" href="{{path('oph_familytree_homepage')}}"><i class="glyphicon glyphicon-leaf"></i> Arbre généalogique</a>
                    </div><!--end navbar header-->
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li {% if app.request.get('_route') == 'oph_familytree_map' %} class="active" {% endif %} ><a href="{{path('oph_familytree_map')}}">Carte</a></li>
                            <li {% if app.request.get('_route') == 'oph_familytree_add' %} class="active" {% endif %} ><a href="{{path('oph_familytree_add')}}">Ajouter</a></li>
                        </ul>
                          {{ render(controller("OphFamilytreeBundle:Leaf:menu")) }}
                    </div><!-- /.navbar-collapse -->
                <!-- Brand and toggle get grouped for better mobile display -->
                </div><!-- /.container -->
            </nav>
            
            <div id="content" class="container-fluid">
                <div class="barre-connexion">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </div>
                
                
                {% block body %}
                    
               {% endblock %}
            </div><!--end content-->
            <hr>
            
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            
            {% javascripts '@OphFamilytreeBundle/Resources/public/js/vendor/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@OphFamilytreeBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
    
            {% block javascripts %}
                
            {% endblock %}
            
            <footer class="tac container">
                <p>© {{ 'now'|date('Y') }}.</p>
            </footer>
           </div><!--end content-->
        </div><!--end container-fluid-->  
                
    </body>
</html>

    