{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Anitasfamily</th>
                <th>Georgesfamily</th>
                <th>Man</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Dateofbirth</th>
                <th>Placeofbirth</th>
                <th>Dateofdeath</th>
                <th>Placeofdeath</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.anitasFamily }}</td>
                <td>{{ entity.georgesFamily }}</td>
                <td>{{ entity.man }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.placeOfBirth }}</td>
                <td>{% if entity.dateOfDeath %}{{ entity.dateOfDeath|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.placeOfDeath }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
