{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Anitasfamily</th>
                <td>{{ entity.anitasFamily }}</td>
            </tr>
            <tr>
                <th>Georgesfamily</th>
                <td>{{ entity.georgesFamily }}</td>
            </tr>
            <tr>
                <th>Man</th>
                <td>{{ entity.man }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Placeofbirth</th>
                <td>{{ entity.placeOfBirth }}</td>
            </tr>
            <tr>
                <th>Dateofdeath</th>
                <td>{{ entity.dateOfDeath|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Placeofdeath</th>
                <td>{{ entity.placeOfDeath }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_person') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_person_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
