{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% extends "OphFamilytreeBundle::layout-leaf.html.twig" %}

{% block title %}
  Documents - {{ parent() }}
{% endblock %}

{% block ophfamilytree_body %}

    <div class="container">
        <div class="row-fluid">
            <h3>Supprimer « <strong>{{ document.title }} </strong> » ? </h3>
            <img src="{{ (document.img.webPath) | imagine_filter('my_thumb') }}" alt="{{document.img.alt}}"/>
            
            <form action="{{ path('oph_familytree_delete_document', {'id': person.id, 'idDocument': document.id}) }}" method="post">
            
            <p>
               <input type="submit" value="Confirmer la suppression" class="btn btn-danger mt40" />
            </p>
            {# Ceci va générer le champ CSRF #}
            {{ form_rest(form) }}
            </form>
            
            
        </div><!--end row-fluid-->
    </div><!--end container-->
    <hr>

<div class="container text-center">
       <a href=" {{ path('oph_familytree_edit_documents', {'id': person.id})}}" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-chevron-left"></i> Retour</a>
</div>


{% endblock %}