<div class="container">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
    <form method="post" {{ form_enctype(form) }}>
    
    {{ form_errors(form) }}
    
    <div class="well">
      <h3>Identité</h3>
      <div class="form-group">
        {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.firstName) }}
        <div class="col-sm-4">
          {{ form_widget(form.firstName, {'attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      
      <div class="form-group">
        {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
        {{ form_errors(form.firstName) }}
        <div class="col-sm-4">
          {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      
      <div class="form-group">
          {{ form_label(form.gender, "Genre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.gender) }}
          <div class="col-sm-3">
              {{ form_widget(form.gender, {'attr': {'class': 'form-control'} }) }}
          </div>
      </div>
      
      <div class="form-group">
          {{ form_label(form.dateOfBirth, "Né(e) le", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.dateOfBirth) }}
          {{ form_widget(form.dateOfBirth, {'attr': {'class': 'col-sm-3'} }) }}
      </div>
      
      <div class="form-group">
        {{ form_label(form.placeOfBirth, "à", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.placeOfBirth) }}
        <div class="col-sm-4">
          {{ form_widget(form.placeOfBirth, {'attr': {'class': 'form-control'} }) }}
        
          <div class="coord-form">
            <p><em>Pour placer la ville sur la carte, entrez ses coordonnées GPS :</em></p>
            <!--latitude-->
            {{ form_label(form.latitudeBirth, "Latitude ", {'label_attr': {'class': 'col-sm-3 control-label nobold'}}) }}
            {{ form_errors(form.latitudeBirth) }}
            {{ form_widget(form.latitudeBirth, {'attr': {'class': 'form-control'} }) }}
          </div>
          
          <div class="coord-form">
            <!--longitude-->
            {{ form_label(form.longitudeBirth, "Longitude ", {'label_attr': {'class': 'col-sm-3 control-label nobold'}}) }}
            {{ form_errors(form.longitudeBirth) }}
            {{ form_widget(form.longitudeBirth, {'attr': {'class': 'form-control'} }) }}
          </div>
        
        </div>
      </div>
      
      <div class="form-group">
          {{ form_label(form.dateOfDeath, "Décédé(e) le", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.dateOfDeath) }}
          {{ form_widget(form.dateOfDeath, {'attr': {'class': 'col-sm-3'} }) }}
      </div>
      
      <div class="form-group">
        {{ form_label(form.placeOfDeath, "à", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.placeOfDeath) }}
        <div class="col-sm-4">
          {{ form_widget(form.placeOfDeath, {'attr': {'class': 'form-control'} }) }}
        </div>
      </div>  
  </div><!--end well-->
  
  <div class="well">
      <div class="container">
        <h3>Liens familiaux</h3>
        <div class="form-group">
          {{ form_label(form.tempMother, "Mère :", {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
          {{ form_errors(form.tempMother) }}
          <div class="col-sm-8 ">
            {{ form_widget(form.tempMother) }}
          </div>
        </div> 
        
        <div class="form-group">
          {{ form_label(form.tempFather, "Père :", {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
          {{ form_errors(form.tempFather) }}
          <div class="col-sm-8 ">
            {{ form_widget(form.tempFather) }}
          </div>
        </div> 
        
        <div class="form-group">
          {{ form_label(form.tempChild, "Parent de :", {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
          {{ form_errors(form.tempChild) }}
          <div class="col-sm-8 ">
            {{ form_widget(form.tempChild) }}
          </div>
        </div> 
      
      </div><!--end container-->    
    </div><!--end well-->    
    

    <div class="container tac">   
      <div class="form-group">
        {{ form_widget(form.Enregistrer, {'label': 'Terminer et enregistrer','attr': {'class': 'btn btn-warning'}}) }}
    </div><!--end container-->
    
    {{ form_end(form) }}
    
    


</div><!--end container-->
