{# formaddphotos #}

<div class="container well">
  
  <div class="form-group">
    <div class="col-sm-8">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
      <form method="post" {{ form_enctype(form) }}>
      {{ form_errors(form) }}
      {{ form(form) }}
    </div>
  </div>
      
  <div class="container">   
    <div class=" form-group">
       {{ form_row(form.Enregistrer, { 'label': 'Terminer et enregistrer' }) }}
    </div>
  </div><!--end container-->
    
    {{ form_end(form) }}


</div><!--end container-->



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
 $(document).ready(function() {
    var $container = $('div#oph_familytreebundle_person_uploadedPictures'); // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $addLink = $('<a href="#" id="add_gallery" class="btn btn-default">Ajouter une photo supplémentaire</a>'); // On ajoute un lien pour ajouter une nouvelle catégorie
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addPhotoInput($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addPhotoInput($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire photo
    function addPhotoInput($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Photo n°' + (index+1))
          .replace(/__name__/g, index));
      $prototype.attr('class','well newdoc');
      addDeleteLink($prototype); // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      $container.append($prototype); // On ajoute le prototype modifié à la fin de la balise <div>
      index++; // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      $deleteLink = $('<a href="#" class="delete">Supprimer la photo n°'+(index+1)+'</a>');
      $prototype.append($deleteLink);
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>