{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OphFamilytreeBundle::layout-leaf.html.twig" %}

{% block title %}
    {{ parent() }} : {{person.firstName}} {{person.name}}
{% endblock %}

{% block ophfamilytree_body %}

    <div id="resume">
        <div class="container">
            <h2 class="text-center">Résumé</h2>
            <p>Né{% if person.gender == 'F' %}e{% endif %} le {{person.dateOfBirth|date('d-m-Y')}} à {{person.placeOfBirth}}<br>
            Décédé{% if person.gender == 'F' %}e{% endif %} le {{person.dateOfDeath|date('d-m-Y')}} à {{person.placeOfDeath}}</p>
            <p>
                {% if person.gender == 'F' %}Fille{% else %}Fils{%endif %} de 
                {% if person.mother is null %}
                    <strong>?</strong>
                {% else %}
                    <a href="{{ path('oph_familytree_view', {'id':person.mother.id})}}">{{person.mother.firstName}} {{person.mother.name}}</a>
                {% endif %}
                et
                {% if person.father is null %}
                    <strong>?</strong>
                {% else %}
                    <a href="{{ path('oph_familytree_view', {'id':person.father.id})}}">{{person.father.firstName}} {{person.father.name}}</a>.
                {% endif %}
            <br>
                {% if person.gender == 'F' %}
                    {% if person.childrenOfMother is empty %}
                    {% else %}Mère de :
                        <ul>
                        {%for c in person.childrenOfMother %}
                            <li><a href="{{ path('oph_familytree_view', {'id':c.id})}}">{{c.completeName}}</a></li>
                        {%endfor%}
                        </ul>
                    {%endif%}
                {% else %}
                    {% if person.childrenOfFather is empty %}
                    {% else %}Père de :
                        <ul>
                        {%for c in person.childrenOfFather %}
                            <li><a href="{{ path('oph_familytree_view', {'id':c.id})}}">{{c.completeName}}</a></li>
                        {%endfor%}
                        </ul>
                    {%endif%}
                {%endif%}
            </p>
            
                
        </div>
    </div><!--end resume-->

    <div id="galerie">
        <div class="container">
            <h2 class="text-center">Galerie</h2>
            {% if person.gallery is not empty %}
                
                <!--galerie slick---->
                <div class="carousel-slick">
                    {% for photo in person.gallery %}
                        <div> <img src="{{  (photo.img.webPath) | imagine_filter('my_heighten') }}" alt="{{photo.img.alt}}"/></div>
                    {%endfor%}
                </div>
                
            {%else%}
                <div class="container">
                    <p>Pas de photo !</p>
                </div>
            {%endif%}
            {% if is_granted('ROLE_USER') %}
                <div class="container">
                    <a href="{{ path('oph_familytree_edit_photos', {'id': person.id}) }}" class="btn btn-default" role="button">Ajouter - Editer la galerie</a>
                </div>
            {% endif %}
        </div>
    </div><!--end galerie-->
    
    <div id="documents">
        <div class="container">
            <h2 class="text-center">Documents</h2>
        
            {% if person.listOfDocuments is empty %}
                <p>Pas de document !</p>
            
            {% else %}
            
                {% for doc in person.listOfDocuments %}
                    <div class="well">
                        <h4 class="text-primary">{{ doc.title }} <small>le {{doc.dateDocument|date('d-m-Y')}}</small></h4>
                        <p>{{ doc.description|raw  }}</p>
                        <button data-toggle="collapse" class="btn btn-jay btn-lg" data-target="#doc-{{doc.id}}">
                            <span class="glyphicon glyphicon-send"> Voir</span>
                        </button>
                        <div id="doc-{{doc.id}}" class="collapse">
                           <img src="{{  (doc.img.webPath) | imagine_filter('doc_widen') }}" alt="{{doc.img.alt}}"/>
                        </div>
                    </div><!--end well-->
                {%endfor%}
            {%endif%}
            {% if is_granted('ROLE_USER') %}
               <a href="{{ path('oph_familytree_edit_documents', {'id': person.id}) }}" class="btn btn-default" role="button">Ajouter - Editer les documents</a>
            {% endif %}   
        </div>
    </div><!--end documents-->
   

    
    <div class="text-center container">
        <p> 
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('oph_familytree_edit', {'id': person.id}) }}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-pencil"></i> Editer la fiche</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('oph_familytree_delete', {'id': person.id}) }}" class="btn btn-danger" role="button"><i class="glyphicon glyphicon-remove"></i> Supprimer</a>
            {% endif %}
            <a href="{{ path('oph_familytree_homepage') }}" class="btn btn-success" role="button"><i class="glyphicon glyphicon-home"></i> Retour à l'accueil</a>
        </p>
    </div>
    
    <script type="text/javascript">
      
	
    </script>


{% endblock %}