{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OphFamilytreeBundle::layout-leaf.html.twig" %}

{% block title %}
    {{ parent() }} : {{person.firstName}} {{person.name}}
{% endblock %}

{% block ophfamilytree_body %}

    <div class="container">
        <h2 class="text-center">Galerie</h2>
     
        {% if person.gallery is not empty %}
        
            <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
            
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
                    
                    {% if person.gallery|length > 1 %}
                        {% for i in 1..(person.gallery|length -1)%}
                                <li data-target="#galleryCarousel" data-slide-to="{{i}}"></li>
                        {%endfor%}
                    {% endif %}
                    
                </ol>
                
                <!-- Wrapper for slides -->
                {% for photo in person.gallery %}
                    {% if photo == person.gallery|first %}
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{  (photo.img.webPath) | imagine_filter('my_heighten') }}" alt="{{photo.img.alt}}"/>
                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{{  (photo.img.webPath) | imagine_filter('my_heighten') }}" alt="{{photo.img.alt}}"/>
                        </div>
                    {% endif%}
                {%endfor%}
            </div><!--end carousel slide-->
            
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#galleryCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#galleryCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        {%else%}
            <p>Pas de photo!</p>
        {%endif%}
        
         <a href="{{ path('oph_familytree_edit_photos', {'id': person.id}) }}" class="btn btn-primary" role="button">Editer la galerie</a>
    </div><!--end container galerie-->
    
    <div class="container resume">
        <h2 class="text-center">Résumé</h2>
        <p>Né{% if person.gender == 'F' %}e{% endif %} le {{person.dateOfBirth|date('d-m-Y')}} à {{person.placeOfBirth}}<br>
        Décédé{% if person.gender == 'F' %}e{% endif %} le {{person.dateOfDeath|date('d-m-Y')}} à {{person.placeOfDeath}}</p>
    </div><!--end container-->
    
    
    <div class="container">
        <h2 class="text-center">Documents</h2>
        
            {% if person.listOfDocuments is empty %}
                <p>Pas de document !</p>
            
            {% else %}
            
                {% for doc in person.listOfDocuments %}
                    <div class="well">
                        <h4 class="text-primary">{{ doc.title }} <small>Le {{doc.dateDocument|date('d-m-Y')}}</small></h4>
                        <p>{{ doc.description|raw  }}</p>
                        <button data-toggle="collapse" class="btn btn-default btn-lg" data-target="#doc-{{doc.id}}">
                            <span class="glyphicon glyphicon-send"> Voir</span>
                        </button>
                        <div id="doc-{{doc.id}}" class="collapse">
                           <img src="{{  (doc.img.webPath) | imagine_filter('doc_widen') }}" alt="{{doc.img.alt}}"/>
                        </div>
                    </div><!--end well-->
                {%endfor%}
            {%endif%}

            
            <a href=" {{ path('oph_familytree_edit_documents', {'id': person.id})}}" class="btn btn-primary" role="button">Editer les documents</a>
    </div><!--end container documents-->
   
    
    
    <hr>
    
    <div class="text-center container">
        <p> 
            <a href="{{ path('oph_familytree_edit', {'id': person.id}) }}" class="btn btn-default" role="button">Editer la fiche</a>
            <a href="{{ path('oph_familytree_delete', {'id': person.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
            <a href="{{ path('oph_familytree_homepage') }}" class="btn btn-success" role="button"><i class="glyphicon glyphicon-chevron-left"></i> Retour à l'accueil</a>
        </p>
    </div>

{% endblock %}